<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <style>
        #navbar {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        #navbar li { display: inline; }
    </style>
</head>
<body>
<ul id="navbar">
    <li><a href="/?lang=en" th:text="#{english}"></a></li>
    <li><a href="/?lang=ru" th:text="#{russian}"></a></li>
</ul>

<label th:text="#{label}"/>
<form th:action="@{/message}" method="post" >
<input type="submit"   th:value="#{button}" />
</form>
</body>
</html>